@model EditPersonViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
    <form asp-action="Create" asp-controller="IPeople" method="post">
        <label asp-for="CreatePerson.FirstName"></label>
        <input asp-for="CreatePerson.FirstName" />
        <span asp-validation-for="CreatePerson.FirstName"></span>

        <label asp-for="CreatePerson.LastName"></label>
        <input asp-for="CreatePerson.LastName" />
        <span asp-validation-for="CreatePerson.LastName"></span>

        <label asp-for="CreatePerson.CityId"></label>
        <input asp-for="CreatePerson.CityId" />
        <span asp-validation-for="CreatePerson.CityId"></span>

        <label asp-for="CreatePerson.PhoneNumber"></label>
        <input asp-for="CreatePerson.PhoneNumber" />
        <span asp-validation-for="CreatePerson.PhoneNumber"></span>

        <button type="reset">Reset</button>
        <button>Create</button>
    </form>
